@model IEnumerable<WebApplication.Employee>

@using WebApplication.Controllers;



@{
    ViewBag.Title = "Home Page";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>


    </tr>

    @*@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(@item.Title, "Details", new { id = item.id })

            </td>


        </tr>
    }*@

</table>

